//base.css
/* =====================
   Reset
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =====================
   HTML / Body
===================== */
html,
body {
  width: 100%; 
  height: 100%;
  overflow: hidden;
  background: #000;

  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/* =====================
   Image Lock (Common)
===================== */
img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
