* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  touch-action: none;
}

.carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 1400px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: 75vh;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}


.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

