* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  touch-action: pan-y;
}

.background {
  position: fixed;
  inset: 0;
  background: url("../image/background.jpg") center / cover no-repeat;
  z-index: 0;
}

.carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 1400px;
  transform-style: preserve-3d;
  z-index: 1;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vw;
  height: 70vh;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(.2,.8,.2,1), opacity .4s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

