<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no"
  >
  <title>Chapter 2</title>

  <link rel="stylesheet" href="css/chapter2.css">
</head>
<body>

  <div class="background"></div>

  <div class="carousel">
    <div class="slide"><img src="image/img1.jpg"></div>
    <div class="slide"><img src="image/img2.jpg"></div>
    <div class="slide"><img src="image/img3.jpg"></div>
    <div class="slide"><img src="image/img4.jpg"></div>
    <div class="slide"><img src="image/img5.jpg"></div>
  </div>

  <script src="js/chapter2/script.js"></script>
</body>
</html>
