* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: url("../image/background.jpg")
    center / cover no-repeat fixed;
}

/* ===== シーン ===== */
.scene {
  width: 100vw;
  height: 100vh;
  perspective: 1200px;
  perspective-origin: 50% 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== 円柱 ===== */
.cylinder {
  position: relative;
  width: 420px;
  height: 420px;
  transform-style: preserve-3d;
}

/* ===== 共通パネル ===== */
.panel {
  position: absolute;
  width: 200px;
  height: 260px;

  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -130px;

  transform-style: preserve-3d;
}

/* ===== 手前（カード） ===== */
.outer {
  backface-visibility: hidden;
}

.outer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,.4));
}

/* ===== 奥（逆回転） ===== */
.inner {
  backface-visibility: visible;
  background: url("../image/top_b.png") center / contain no-repeat;
  filter: brightness(0.45);
}

