.last-img-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
}

/* 共通画像 */
.last-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Under */
.last-img.under {
  z-index: 1;
  pointer-events: none;
}

/* Underのリンク判定 */
.tap-cover {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

#last-page.active .tap-cover {
  pointer-events: auto;
}

/* Top見た目 */
.last-img.top {
  z-index: 3;
  pointer-events: none;
}

/* Topタップ判定 */
.top-tap-zone {
  position: absolute;
  inset: 0;
  z-index: 4;
  pointer-events: auto;
}
