*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  width:100%;
  height:100%;
  overflow:hidden;
}

body{
  background:url("../image/background.jpg") center/cover no-repeat;
}

/* 視点 */
.scene{
  width:100vw;
  height:100vh;
  perspective:1600px;
  perspective-origin:50% 35%;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* 円筒 */
.cylinder{
  position:relative;
  width:0;
  height:0;
  transform-style:preserve-3d;
}

/* 共通パネル */
.panel{
  position:absolute;
  width:220px;
  height:300px;
  left:-110px;
  top:-150px;
  transform-style:preserve-3d;
  backface-visibility:hidden;
}

/* 内側 */
.inner{
  transform:
    rotateY(calc(var(--i) * 72deg))
    translateZ(-380px)
    rotateY(180deg);
}

.inner img{
  width:100%;
  height:100%;
  object-fit:contain;
}

/* 外側 */
.outer{
  background:url("../image/top_b.png") no-repeat;
  background-size:1100px 100%;
  background-position-x: calc(var(--i) * -220px);
  background-position-y:center;

  transform:
    rotateY(calc(var(--i) * 72deg))
    translateZ(380px);
}


