* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  background: #000;
}

body {
  background: url("../image/background.jpg") center / cover no-repeat fixed;
}

/* 3Dシーン */
.scene {
  width: 100vw;
  height: 100vh;
  perspective: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 円筒本体 */
.cylinder {
  position: relative;
  width: 0;
  height: 0;
  transform-style: preserve-3d;
}

/* 共通パネル */
.panel {
  position: absolute;
  width: 200px;
  height: 260px;
  left: -100px;   /* ← 幅の半分 */
  top: -130px;    /* ← 高さの半分 */
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* 内側 */
.inner {
  transform:
    rotateY(calc(var(--i) * 72deg))
    translateZ(-260px)
    rotateY(180deg);
}

.inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 外側 */
.outer {
  background: url("../image/top_b.png") center / cover no-repeat;
  transform:
    rotateY(calc(var(--i) * 72deg))
    translateZ(260px);
}

