* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  touch-action: pan-y;
}

/* 背景 */
.background {
  position: fixed;
  inset: 0;
  background: url("../image/background.jpg") center / cover no-repeat;
  z-index: 0;
}

/* カルーセル */
.carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 1600px;
}


/* スライド */
.slide {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 70vw;
  height: 70vh;

  transform-style: preserve-3d;
  transition:
    transform 1.2s cubic-bezier(.22,.61,.36,1),
    opacity 1.2s;

  backface-visibility: hidden;
}

.slide img {
  position: absolute;
  inset: -10%;
  width: 120%;
  height: 120%;
  object-fit: contain;
  pointer-events: none;
}
