* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: url("../image/background.jpg") center / cover no-repeat fixed;
}

/* シーン */
.scene {
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  perspective-origin: 50% 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

/* 円筒 */
.cylinder {
  position: relative;
  width: 420px;
  height: 420px;
  transform-style: preserve-3d;
  transform: translateZ(300px) rotateX(-22deg);
}

/* パネル共通 */
.panel {
  position: absolute;
  width: 200px;
  height: 260px;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -130px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* 内側 */
.inner {
  transform:
    rotateY(calc(var(--i) * 72deg))
    translateZ(-300px)
    rotateY(180deg);
}

.inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 外側 */
.outer {
  background-image: url("../image/top_b.png");
  background-size: 1000px 100%;
  background-repeat: no-repeat;
  background-position-x: calc(var(--i) * -200px);
  background-position-y: center;

  transform:
    rotateY(calc(var(--i) * 72deg))
    translateZ(300px);
}
