* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: url("../image/background.jpg")
    center / cover no-repeat fixed;
}

.scene {
  width: 100vw;
  height: 100vh;
  perspective: 1200px;
  perspective-origin: 50% 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cylinder {
  position: relative;
  width: 420px;
  height: 420px;
  transform-style: preserve-3d;
}

.panel {
  position: absolute;
  width: 200px;
  height: 260px;

  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -130px;

  backface-visibility: hidden;
  transform-style: preserve-3d;

  /* ★ 画像は分割しない */
  background-image: url("../image/top_b.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* ===== 手前 ===== */
.outer {
  transform:
    rotateY(calc(var(--i) * 72deg))
    translateZ(320px);

  filter: brightness(0.45);
}

/* ===== 奥 ===== */
.inner {
  transform:
    rotateY(calc(var(--i) * 72deg))
    translateZ(-260px)
    rotateY(180deg);

  filter: brightness(0.5);
}

