/* loader.css */

#loader {
  position: fixed;
  inset: 0;
  z-index: 1000;

  background: url("../image/background.jpg") center / cover no-repeat;

  animation: siren 2.5s linear infinite;
  transition: opacity 3.5s ease;

  opacity: 1;
}

@keyframes siren {
  0%   { filter: brightness(1); }
  50%  { filter: brightness(0.2); }
  100% { filter: brightness(1); }
}
