/* loader.css */

/* =====================
   Loader
===================== */

#loader {
  position: fixed;
  inset: 0;

  background: url('../image/background.jpg') center / cover no-repeat;

  z-index: 1000;

  /* Siren (brightness pulse) */
  animation: siren 2.5s linear infinite;

  /* Fade out controlled by JS */
  transition: opacity 3.5s ease;
}

/* =====================
   Loader Animations
===================== */

@keyframes siren {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.2);
  }
  100% {
    filter: brightness(1);
  }
}
