html, body {
  margin: 0;
  padding: 0;
  background: #111;
  overflow: hidden;
}

#viewer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  touch-action: none;
}

#viewer img {
  position: absolute;
  top: 50%;
  left: 0;
  height: 90vh;
  width: auto;
  max-width: none;        /* 重要 */
  transform: translateY(-50%);
  transition: transform 0.25s ease;
  user-select: none;
  -webkit-user-drag: none;
}