#viewer {
  width: 100vw;
  height: 100vh;
  background: #111;
  overflow: hidden;
  position: relative;
}
#viewer img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 200%;       /* とりあえず大きく */
  height: auto;
  transform: translateY(-50%);
}