/*common/background.css*/

.background {
position: fixed; /* relative ではなく fixed にする */
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: url('../../image/background.jpg') center / cover no-repeat;
  z-index: 0;
}

/* 暗転用レイヤー */
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.30);
  animation: slowFade 13s ease-in-out infinite alternate;
  pointer-events: none;

  z-index: 1;

@keyframes slowFade {
  0%   { opacity: 0.25; }
  50%  { opacity: 0.46; }
  100% { opacity: 0.25; }
}
