/* base.css */

/* ===================== Reset ===================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* ===================== HTML / Body ===================== */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  overscroll-behavior: none;
  /* ユーザーによる意図しない選択や操作を制限 */
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}


/* ===================== Chapter Control ===================== */
.chapter {
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  transform: translateZ(0);
  transition: opacity 2.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.chapter.visible {
  opacity: 1 !important;
  pointer-events: auto;
}


/* ===================== Dots ===================== */
.dots {
  position: fixed;
  /* iOSのセーフエリアを考慮した配置 */
  bottom: calc(40px + env(safe-area-inset-bottom));
  width: 100%;
  text-align: center;
  z-index: 20;
  opacity: 0;
  will-change: opacity;
  transition: opacity 2.8s cubic-bezier(.22, .61, .36, 1);
}

.dots.visible {
  opacity: 1;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 8px;
  margin: 0 5px;
  background: rgba(200, 200, 200, .25);
  transition: background 0.08s linear;
}

.dot.active {
  background: rgba(240, 240, 240, .9);
}
