/* base.css */
/* ===================== Reset ===================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* ===================== HTML / Body ===================== */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}


/* ===================== Chapter Control ===================== */
.chapter {
  opacity: 0;
  pointer-events: none;
  transition: opacity 2.8s cubic-bezier(.22,.61,.36,1);
}
.chapter.visible {
  opacity: 1;
  pointer-events: auto;
}


/* ===================== Dots ===================== */
.dots {
  position: fixed;
  bottom: calc(40px + env(safe-area-inset-bottom));
  width: 100%;
  text-align: center;
  z-index: 20;
  opacity: 0;
}

.dots.visible {
  opacity: 1;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 8px;
  margin: 0 5px;
  background: rgba(200, 200, 200, .25);
}

.dot.active {
  background: rgba(240, 240, 240, .9);
}

