/* base.css */
/* ===================== Reset ===================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* ===================== HTML / Body ===================== */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}


/* ===================== Chapter Control ===================== */
.chapter {
  opacity: 0;
  pointer-events: none;
  transition: opacity 2.8s cubic-bezier(.22,.61,.36,1);
}
.chapter.visible {
  opacity: 1;
  pointer-events: auto;
}
