/* base.css */
/* ===================== Reset ===================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* ===================== HTML / Body ===================== */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/* ===================== Chapter Control ===================== */
.chapter {
  display: none;
  opacity: 0; /* 初期は非表示 */
  pointer-events: none;
  will-change: opacity;  /* transform は追跡しない */
  transition: opacity 2.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.chapter.active {
  display: block;     /* これがないと JSで add("active") しても表示されません */
}

.chapter.visible {
  opacity: 1 !important;
  pointer-events: auto;
}

/* ===================== Dots ===================== */
.dots {
  position: fixed;
  bottom: calc(40px + env(safe-area-inset-bottom));
  width: 100%;
  text-align: center;
  z-index: 20;
  opacity: 0;
  will-change: opacity;
  transition: opacity 2.8s cubic-bezier(.22, .61, .36, 1);
}

.dots.visible {
  opacity: 1;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 8px;
  margin: 0 5px;
  background: rgba(200, 200, 200, .25);
  transition: background 0.08s linear;
}

.dot.active {
  background: rgba(240, 240, 240, .9);
}


/* すべてのChapterやPageの共通基盤 */
.scene-section {
  display: none;      /* 普段は存在を消してCPU負荷をゼロにする */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  will-change: opacity;
  transition: opacity 2.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 表示が必要な時だけ出現させる */
.scene-section.active {
  display: block;     /* 存在を出現させる */
}

/* ふわっと浮かび上がらせる */
.scene-section.visible {
  opacity: 1 !important;
  visibility: visible;
  pointer-events: auto;
}
