/*loader.css*/


/* ================Loader / Fade 共通CSS================ */

#fadeLayer {
  position: fixed;
  inset: 0;
  z-index: 9999;
　background-color: rgba(0,0,0,0.8);
  opacity: 1;
  pointer-events: auto;

  background-color: #000;
  
  animation: loaderFade 4s ease-in-out infinite alternate;//////////////////
  transition: opacity 1.5s ease; /* デフォルト時間と合わせる */
}

#fadeLayer.show {
  opacity: 1; /* 黒 */
}

#fadeLayer.hide {
  opacity: 0;
  pointer-events: none;
}

@keyframes loaderFade {
  0%   { opacity: 0.3; }
  50%  { opacity: 0.7; }
  100% { opacity: 0.3; }
}
/* ================ Loader 本体　================ */
#loader {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  pointer-events: none;
}

#loader img.loader-inner {
 position: fixed;
  inset: 0;
  width: 100vw;   /* 画面幅いっぱい */
  height: 100vh;  /* 画面高さいっぱい */
  object-fit: cover;
  object-position: center; /* 中心固定 */
///////////////////////////////////////
   animation: loaderFade 1.5s infinite ease-in-out; //3.6秒かけて1周
}/////////////////////////////////////////////

/*=====================================
ローディング中のテキスト／アイコン（必要なら） 
#loader .loader-inner {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.1em;
  opacity: 0.8;
}
==========================================*/
