/*loader.css*/


/* ================Loader / Fade 共通CSS================ */

#fadeLayer {
  position: fixed;
  inset: 0;
  z-index: 9999;
　background-color: #000;
  opacity: 1;
  pointer-events: auto;
}

#fadeLayer.show {
  opacity: 1; /* 黒 */
}

#fadeLayer.hide {
  opacity: 0;
  pointer-events: none;
}


#loader img.loader-inner,
#fadeLayer {
  animation: heartBeat 2.9s ease-in-out infinite;
  transition: opacity 1.5s ease; 
}

/* ================ Loader 本体　================ */
#loader {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  pointer-events: none;
}

#loader img.loader-inner {
 position: fixed;
  inset: 0;
  width: 100vw;   /* 画面幅いっぱい */
  height: 100vh;  /* 画面高さいっぱい */
  object-fit: cover;
  object-position: center; /* 中心固定 */
  opacity: 0.3;

  animation: imgBreath 4.5s ease-in-out infinite;
}

@keyframes imgBreath {
  0%, 45%, 100% { opacity: 0.2; }
  30%, 70% { opacity: 0.5; } /* 光が強いときに少しだけ濃くなる */
}
  
/*=====================================
ローディング中のテキスト／アイコン（必要なら） 
#loader .loader-inner {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.1em;
  opacity: 0.8;
}
==========================================*/
