/*loader.css*/


/* ================Loader / Fade 共通CSS================ */

#fadeLayer {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;

  opacity: 1;
  pointer-events: auto;
  transition: opacity 1.2s ease; /* デフォルト時間と合わせる */
}

#fadeLayer.show {
  opacity: 1; /* 黒 */
}

#fadeLayer.hide {
  opacity: 0;
  pointer-events: none;
}

/* ================ Loader 本体================ */

#loader {
  position: fixed;
  inset: 0;
  z-index: 10000;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  pointer-events: none;
}

#loader img.loader-inner {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画面いっぱいにフィット */
  display: block;

   animation: blinkGradient 1.8s infinite ease-in-out; //1.8秒かけて1周
}

@keyframes blinkGradient {
  0%   { opacity: 0.3; }
  20%  { opacity: 0.5; }
  40%  { opacity: 0.7; }
  60%  { opacity: 0.5; }
  80%  { opacity: 0.3; }
  100% { opacity: 0.2; }
}

/* ローディング中のテキスト／アイコン（必要なら） */
#loader .loader-inner {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.1em;
  opacity: 0.8;
}
