/*loader.css*/


/* ================Loader / Fade 共通CSS================ */

#fadeLayer {
  position: fixed;
  inset: 0;
  z-index: 9999;
　background-color: #000;
  opacity: 1;
  pointer-events: auto;
}

#fadeLayer.show {
  opacity: 1; /* 黒 */
}

#fadeLayer.hide {
  opacity: 0;
  pointer-events: none;
}


#loader img.loader-inner,
#fadeLayer {
  animation: heartBeat 2.9s ease-in-out infinite;
  transition: opacity 1.5s ease; 
}

/* ================ Loader 本体　================ */
#loader {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  pointer-events: none;
}

#loader img.loader-inner {
 position: fixed;
  inset: 0;
  width: 100vw;   /* 画面幅いっぱい */
  height: 100vh;  /* 画面高さいっぱい */
  object-fit: cover;
  object-position: center; /* 中心固定 */
}


/* 左斜め上から漏れる、鋭い光の質感 */
  background: radial-gradient(circle at 10% 10%, 
    rgba(255, 255, 240, 0.5) 0%, 
    rgba(255, 255, 255, 0.1) 30%, 
    rgba(0, 0, 0, 0.9) 80%);
  
  /* スクリーン合成にすることで、ライトが当たったような白飛び感を出す */
  mix-blend-mode: screen; 
  opacity: 0;
  animation: flickeringLight 4s infinite;
}

@keyframes flickeringLight {
  0%, 100% { opacity: 0; filter: blur(2px); }
  
  /* 1回目の鼓動：鋭く光ってスッと引く */
  10% { opacity: 0.8; filter: blur(0px); } 
  12% { opacity: 0.2; }
  14% { opacity: 0.7; }
  25% { opacity: 0; }
  
  /* 2回目の鼓動：余韻のような小さな瞬き */
  35% { opacity: 0.4; }
  40% { opacity: 0; }
  
  /* 街灯が切れかかっているような、一瞬のチカチカ */
  70% { opacity: 0.05; }
  72% { opacity: 0; }
}
/*=====================================
ローディング中のテキスト／アイコン（必要なら） 
#loader .loader-inner {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.1em;
  opacity: 0.8;
}
==========================================*/
